@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/ericksonflores/Documents/proyectos/landig-page-grupo-colas/fonts/Inter/regular.ttf') format('truetype');
}
